<body style="text-align: center;">

    <div>

            <h1>Calculadora</h1>
        <h3> Valores inceridos: <%= @number1 %> e <%= @number2 %></h3>
        <h3>Você deseja: <br>
        <%= link_to "Somar", add_now_path(@number1,@number2) %> 
        <br>
        <%= link_to "Dividir", div_now_path(@number1,@number2) %>   <br>
        <%= link_to "Subtrair", sub_now_path(@number1,@number2) %>  <br>
        <%= link_to "Multiplicar", mult_now_path(@number1,@number2) %> </h3>
    </div>  
</body>