<body style="text-align: center;">

    <div>
            <h1>Multiplicar</h1>
        <h3> Resultado : <%= @number1%> * <%= @number2%> = <%= @number1 * @number2 %></h3>
        <br>
        <h4> <%= link_to "Home", home_now_path %> </h4>
    </div>

</body>