<body style="text-align: center;">

    <div>
            <h1>Subtrair</h1>
        <h3> Resultado: <%= @number1 %> - <%= @number2 %> =  <%=@number1 - @number2%> </h3>

        <h4> <%= link_to "Home", home_now_path %> </h4>
    </div>

</body>